@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Delius+Swash+Caps&family=Encode+Sans:wght@100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.app-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.main-wrapper {
  height: 100%;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  position: relative;
}

.main-wrapper.no-transition {
  transition: none !important;
}

.resize-handle {
  width: 4px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%) translateX(10px);

  background-color: #cbdeed75;
  cursor: col-resize;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.2s ease;
  z-index: 20;
}

.resize-handle:hover {
  background-color: rgba(173, 186, 193, 0.413);
}

.resize-handle.dragging {
  background-color: rgba(173, 186, 193, 0.413);
}

.resize-handle::before {
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  top: 0;
  bottom: 0;
}
