* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Encode Sans", sans-serif;
  background: linear-gradient(125deg, #f2f2f2, #f5feff);
  color: #1a1a1a;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
}

body.dragging {
  user-select: none;
  cursor: col-resize;
}

#root {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
